<!DOCTYPE html>
<html>
<head>
	<title>email template</title>
</head>
<body>
	<table width="50%" style="margin: 0 auto;border: 1px solid #66bd68;text-align: center;" cellpadding="5">
		<tr style="background-color: #66bc69;">
			<td colspan="2" style="text-align: center;">
				<img src="https://peaceful-forest-31952.herokuapp.com/static/logo.png">
			</td>
		</tr>
		<tr></tr><p></p><p></p></tr>
		<tr><td colspan="2"><h2>Almost there!</h2></td></tr>
		<tr>
		<td colspan="2"style="font-size:16px;">Let's confirm your email address</td>
		</tr>
		<tr><td>By clicking on the link, you are confirming your email address and agreeing to our terms and conditions.</td></tr>
		<tr><td><a href="https://peaceful-forest-31952.herokuapp.com/api/User/confirm?id={{id}}&key={{key}}" class="button">Confirm email</a></td></tr>
		<tr><p></p><p></p></tr>
		<tr style=" margin-top: 30px; width: 100%;background: #e8e8e8;padding: 20px 0px;">
			<td colspan="2" style="text-align: center;">
				Contact Info<br>
				Email:<a href="#">info@breqpubapp.com</a><br>
				Website:
			</td>
		</tr>
	</table>
</body>
</html>
<style>
	.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
</style>